body {
  background-color: #9266ff;
}
.App {
  background-color: #3f3160;
  min-height:500px;
  width: 400px;
  margin:40px auto;
}
.todo-list{
  background-color: antiquewhite;
  padding: 20px;
  margin: 15px;
}

.todo-list h3 {
  background-color: #9266ff;
  padding: 15px;
}
.todo-list button{
  margin-bottom: 20px;
  width: 100%;
  height:max-content;
  font-size: 20px;
}
.todo-list button:hover{
  color: white;
  background-color: #9266ff;
  opacity: 0.5;
}
.todo-item {
  display: flex;
  align-items: center;
}
.todo-item input[type="checkbox"]{
  width: 25px;
  height: 25px;
}
.todo-item input[type="text"]{
  width: 500px;
  height: 25px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.todo-item input[type="button"]{
  width: 25px;
  height: 25px;
  margin-left:5px;
}